.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}

.link {
  display: block;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: 0.2s;
  font-size: 14px;
}

.link:hover {
  background: #1f2937;
}

.active {
  background: #2563eb;
}
